SOURCE_URI=connection string of your source db which is your source db connection string

DB_NAME=source db name which is your source db name

SAMPLE_SIZE=500 #number of records you want to dump from source db  if you want all records then you can set this to 100000000000
OUT_DIR=output_directory #output directory where you want to dump your data reccommended "dump"
ZIP=true/false #false recommended
INCLUDE_SYSTEM=true/false #false recommended


TARGET_URI=target db connection string which is your targeted db connection string
TARGET_DB=DB_NAME Which is your targeted db
